<html>
  <head>
    <title>Banniere d'Accueil</title>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body>
   <div class="jumbotron text-white rounded bg-info" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="col-md-6 px-0 mx-auto">
        <h1 class="display-4 font-italic text-center">Bienvenue sur EventbriteLike mon ami(e) !</h1>
        <p class="lead my-3 text-center">Si tu veux savoir quand seras la prochaine fête du ricard dans ta ville, c'est par ici que ca se passe !</p>

        <fieldset class="form-group mx-auto text-center">
        <button type="submit" class="btn btn-dark text-center"><a href="/events/new">Créer un évènement</a></button>
      </fieldset>

        <p class="text-white font-weight-bold text-center" lead mb-0">Tu peux aussi consulter les évènements ci-dessous</p>
      </div>
    </div>
  </body>
</html>
