
<div class="text-center mx-auto mt-3 mb-3">
<h1></h1>

      <div class="jumbotron text-white rounded bg-info" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Bienvenue sur EventbriteLike mon ami(e) !</h1>
          <p class="lead my-3">Si tu veux savoir quand seras la prochaine fête du ricard dans ta ville, c'est par ici que ca se passe !</p>
          <p class="text-white font-weight-bold" lead mb-0">Tu peux consulter les évènements ci-dessous</p>
        </div>
      </div>

<h4></h4>
</div>


<div class="card-deck mt-4">

  <% Event.all.sort.each do |event| %>
    <div class="col-md-3 col-sm-4">
      <div class="card border-dark mb-3 mx-auto " style="max-width: 20rem;">
        <div class="card-header"> <a href="<%=event_path(event.id)%>"> Event n°<%= event.id %></a></div>
        <div class="card-body">
          <h4 class="card-title"><%= event.title %></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>
