
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../assets/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="../../assets/stylesheets/style.css">
    <title></title>
  </head>
  <body>
    <%= render "show" %>
  </body>
</html>
