<html>
  <head>
    <title>Connexion</title>
    <link rel="stylesheet" href="bootstrap.min.css">
  </head>
  <body>

  <div class="container mx-auto text-center w-25 p-3 mt-5">
    <form>
      <fieldset>
        <legend>Connectez-vous</legend>
        <div class="form-group">
          <label for="email"> Addresse Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Entez votre email">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label>
          <input type="password" class="form-control" id="password" placeholder="Mot de passe">
        </div>

        <fieldset class="form-group">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="" checked="">
            Se souvenir de moi
          </label>
        </div>
         <a href="#">Mot de passe oublié ?</a>
      </fieldset>

        <fieldset class="form-group">
        <button type="submit" class="btn btn-success">Connexion</button>
      </fieldset>
    </form>
  </div>

  </body>
</html>
