.imgr {
  width: 150px;
  height: 180px;
  float: right;
  margin-right: 20;
  border-radius: 30px;
}

.imgl {
  width: 150px;
  height: 180px;
  float: left;
  margin-left: 20;
  border-radius: 30px;
}

.page-container{
  max-width: 800px;
  display: flex;
  text-align: center;
  margin-bottom: 5;

}

.containerr {
  position: absolute;
  width: 550px;
  left: 700px;
  top: 500px
  margin: auto;
  float: right;
}

.container-event {
  margin-top: 5px;
  width: 75%;
  height: 15%;
  margin: auto;
  background-color: #EFEFEF;
}

.event-haut {

}

.price {
  position: absolute;
  bottom: 0;
}

.image-haut-event {

}

.event-text {
  align-items: left;

}

.line {
  justify-content: end;
}

.description {
  text-align: justify;
  margin-top: 5;
}
